body{
    background-color: lightblue;
}
header{
    font-family: sans-serif;
    font-size: 65px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
nav{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
h2{
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
}
button{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
p{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
footer{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
